<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hw.bluetoothlib" >

    <!--    //所有手机需要的权限，蓝牙功能才能正常使用-->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--    //部分手机（如小米等）需要将下面两个权限添加进去，蓝牙功能才能正常使用-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <service android:name=".BluetoothLeService" android:enabled="true"/>
    </application>
</manifest>
